<title>Super Awesome</title>

<meta charset="UTF-8">

<form method="POST" action="/login">  	 
  <!--<%= username %>-->
  Username: <input type="text" name="username" value="">
  <input type="submit" value="Update">
</form> 
<!-- // CSS (load bootstrap from a CDN)
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<style>
	body    { padding-top:50px; }
</style> -->